# Python
__pycache__/
*.py[cod]
# Logs
app.log*
# Virtual environment
venv/       
# IDE specific
.idea/
# OS specific
.DS_Store
# Database files
*.sqlite3
# Backup files
*.bak
# Node
node_modules/

# Build artifacts
build/
dist/

# Environment files
.env
backend/instance/app.db
backend/instance/app.db
